/*********************************************************
## fields
*********************************************************/
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__input-text;
	border: 1px solid $color__input-border;
	border-radius: 3px;
	padding: 3px;

	&:focus {
		color: $color__input-text--focus;
	}
}

select {
	border: 1px solid $color__input-border;
}

textarea {
	width: 100%;
}

/*********************************************************
## buttons
*********************************************************/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: $color__button-background;
	color: $color__button-text;
	line-height: 1;
	padding: .6em 1em .4em;

	// &:hover,
	// &:active,
	// &:focus {
	// 	background-color: $color__button-background--focus;
	// 	color: $color__header;
	// }
}

/*********************************************************
## no ugly blue focus ring for non-keyboard users - refers to user-tabbing.js file
*********************************************************/
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}
