// Backgrounds
$color__header: #ffffff;
$color__footer: $color__header;
$color__header-light: #979696;
$color__background-screen: #f1f1f1;
$color__background-body: white;

// Text
$color__text-main: #222;
$color__text-light: #474747;

// Links
$color__link: #414141;
$color__link-visited: #ad0467;
$color__link-hover: #b18200;

// Buttons
$color__button-text: $color__text-main;
$color__button-background: $color__header;
$color__button-background--focus: $color__text-main;
$color__button-border: black;
$color__button-border--hover: red;
$color__button-border--focus: red;

// Forms, Fields, Search
$color__input-text: #666;
$color__input-text--focus: #111111;
$color__input-border: #ccc;



// ???!!!
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__text-screen: #21759b;
$color__border-abbr: #666;
